<fieldset>                                                                             
<legend>how's my driving</legend>                                                      
<span>0</span>                                                                         
<input type='range' name='impression' min='0' max='10'>                                
<span>10</span>                                                                        
</fieldset>