<p><input type='text' name='icon' placeholder='icon name'></p>
<p><input type='text' name='title' placeholder='title'></p>
<p><input type='text' name='name' placeholder='name'></p>
<p><input type='text' name='nick' placeholder='nickname'></p>
<p><input type='text' name='desc' placeholder='description'></p>
<p><input type='text' name='perk_1' placeholder='perk 1'></p>
<p><input type='text' name='perk_2' placeholder='perk 2'></p>
<p><input type='text' name='perk_3' placeholder='perk 3'></p>
<p><button type='submit' name='do' value='make'>JOIN</button></p>