<h1 class='btn-bar' style='text-align: center;'>
<button type='submit' class='btn' name='do' value='snail'>.oO0@'</button> 
<button type='submit' class='btn' name='do' value='like'><3</button>
<button type='submit' class='btn' name='do' value='fav'>=*=</button>
<button type='submit' class='btn' name='do' value='snail'>.oO0@'</button>
<button type='submit' class='btn' name='do' value='cat'>=^.^=</button> 
</h1>