<h1 style='text-align: center;'>
<button type='submit' class='material-icons btn' name='go' value='' style=''>airport_shuttle</button>
<span style='font-size: large; margin: 0 10% 0 10%; text-shadow: 0 0 2px; color: white;'>cabgo 2020</span>
<button type='submit' class='material-icons btn' name='go' value='' style=''>menu</button>
</h1>