<img src='/vango.jpg' style='width: 100%; position: absolute; z-index: -1;'>
<h1 style='width: 100%; text-align: center;'>Ready?</h1>
<div style='position: absolute; bottom: 20%; left: 20%; right: 20%; text-align: center; background-color: white; padding: 2%;'>
<h3>phone number</h3>
<h3><input type='tel' name='id' placeholder='(___)___-____' style='width: 100%;'></h3>
<h3><button type='submit' name='do' value='pin' >login</button></h3>
</div>