<!DOCTYPE html>
<html>
  <head>
    <style>
      fieldset {
	  border-radius: 15px;
	  border-bottom: none;
      }
      legend {
    border-left: thin solid black;
    border-right: thin solid black;
    border-radius: 15px;
    padding: 0 2% 0 2%;
      }
      .leg { padding: 0 2% 0 2%; vertical-align: middle; }
      .btn {
	  border: thick outset grey;
	     border-radius: 10px;
	     box-shadow: 0 0 2px black;
      }
    </style>
    <meta content="width=device-width, height=device-height, initial-scale=1, maximum-scale=1, user-scalable=no, minimal-ui=no" name="viewport">
    <link rel="stylesheet" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/js-sha256/0.9.0/sha256.js"></script>                                                                        
    <script src="https://code.jquery.com/jquery-git.min.js"></script>                  
            <script src="https://rawgit.com/sitepoint-editors/jsqrcode/master/src/qr_packed.js"></script>                                                                   
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.qrcode/1.0/jquery.qrcode.min.js"></script>                                                           
    <script src="https://cdnjs.cloudflare.com/ajax/libs/paho-mqtt/1.0.1/mqttws31.min.js" type="text/javascript"></script>
</head>
<body style='width: 100%; margin: 0;'>
  <form action='/' method='post'>
    <%= yield %>
    </form>
</body>
</html>
