<% [ :pin, :again, :name, :nickname, :venmo, :pitch, :image ].each do |e| %>
<label><%= e %></label><input type='text' name='<%= e %>'>
<% end %>
<button type='submit' name='do' value='make'>MAKE</button>