<input type='hidden' name='id' value='<%= params[:id] %>'>
<% [ :pin, :name, :venmo, :msg, :image ].each do |e| %>
<p><label><%= e %></label><input type='text' name='<%= e %>'></p>
<% end %>
<p><button type='submit' name='do' value='make'>MAKE</button></p>