<fieldset><legend>                                                                     
<select name='order[screen][style]'>
<option value='no'>no</option>                                                         
<option value='sd'>7"</option>                                                         
<option value='hd'>10"</option>
</select> <span>screen</span>
</legend>                                                                              
<p>Add a screen to display ads and other content to your rides.</p>
</fieldset> 

<fieldset><legend>
<select name='order[frame][style]'>
<option value='no'>no</option>                                               
<option value='sd'>sd</option>                                               
<option value='hd'>hd</option>                                               
</select> <span>frame</span>                                     
</legend>
<p>What is the parimeter of your frame triangle in inches?</p>
<fieldset>
<legend>length</legend>
<input type='number' min='12' max='96' name='order[frame][length]'><label>inches</label></fieldset>
</fieldset> 

<fieldset><legend>                                                           
<select name='order[bench][style]'>
<option value='no'>no</option>                                               
<option value='sd'>sd</option>                                               
<option value='hd'>hd</option>                                               
</select> <span>bench</span>                                         
</legend>
<p>What is the length from the end of one arm rest, across the back and to the end of the other arm rest?</p>
<fieldset>                                                          
<legend>size</legend>                                                      
<p><input type='number' min='12' max='96' name='order[bench][length]'>
<label>inches</label></p> 
<p><input type='checkbox' name='order[bench][2x]'>
<label>I have a second bench.</label></p>
</fieldset>
</fieldset>

<fieldset>
<legend>
<select name='order[underglow][style]'>
<option value='no'>no</option>                                               
<option value='sd'>sd</option>                                               
<option value='hd'>hd</option>                                               
</select> <span>undergow</span>
</legend>  
<p>Add a special touch!</p>
<p>
<input type='checkbox' name='order[underglow][2x]'>
<label>I have a second bench.</label>
</p>
</fieldset> 


<fieldset>                                                                   
<legend>                                                                     
<select name='order[pole][style]'>
<option value='no'>no</option>
<option value='sd'>sd</option>
<option value='hd'>hd</option> 
</select> <span>pole</span></legend> 
<p>Be seen from blocks around!</p>
</fieldset>
