<!-- ride interface -->
<code style='background-color: black; color: white;'><%= @id %></code>
<h1>
<%= venmo(recipients: @attr['venmo'], amount: 100, txn: 'pay', note: 'pedicab ride', link: 'Pay with Venmo') %>
</h1>