<fieldset>
<legend>interests</legend>
<p>
<label class='material-icons' value='ride' selected>loyalty</label>
<input type='checkbox' name='interest[ride]'>
<label class='material-icons' value='work'>work</label>
<input type='checkbox' name='interest[work]'>
<label class='material-icons' value='food'>fastfood</label>
<input type='checkbox' name='interest[food]'>
<label class='material-icons' value='people'>people</label>
<input type='checkbox' name='interest[peole]'>
</p>
<p>
<label class='material-icons' value='bar'>local_bar</label>
<input type='checkbox' name='interest[bar]'>
<label class='material-icons' value='directions'>explore</label>
<input type='checkbox' name='interest[directons]'>
<label class='material-icons' value='coffee'>local_cafe</label>
<input type='checkbox' name='interest[coffee]'>
<label class='material-icons' value='celebration'>cake</label>
<input type='checkbox' name='interest[party]'>
</p>
<p>
<label class='material-icons' value='music'>music_note</label>
<input type='checkbox' name='interest[music]'>
<label class='material-icons' value='spot'>deck</label>
<input type='checkbox' name='interest[spot]'>
<label class='material-icons' value='lasertag'>wifi_tethering</label>
<input type='checkbox' name='interest[lasertag]'>
<label class='material-icons' value='race'>emoji_transportation</label>
<input type='checkbox' name='interest[race]'>
</p>
</fieldset>
<%= erb :partials/impression %>
<fieldset>
<legend class='material-icons'>play_arrow</legend>
<button type='submit' class='btn' name='do' value='start' style='font-size: larger'>
<span style='vertical-align: middle;'>BEGIN</span>
</button>
</div>
